@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #555;
}

.text-center {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 768px) {

    .float-left,
    .float-right {
        float: none !important;
    }

    .ml-32,
    .mr-32 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.container-white {
    border-radius: 0.5rem;
    background-color: rgba(224, 224, 224, 0.97);
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.custom-padding-top-left-right {
    height: auto;
    padding-top: 3.5rem;
    padding-left: 13rem;
    padding-right: 13rem;
}

.generic-section-padding-top {
    font-size: 2.5rem;
    color: #333333;
    font-weight: bold;
    text-align: center;
}

.generic-title {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
}

.generic-p {
    font-size: 1.25rem;
}

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

.nav-item {
    padding: 10px 20px;
    cursor: pointer;
    color: black !important;
}

.nav-item:hover {
    background-color: #ddd;
}

.background-blue {
    background-color: rgba(71, 27, 214, 0.778);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.career-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    max-width: 800px;
    padding-top: 3rem;
}

.career-item {
    flex: 1 1 250px;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
}

.career-item:hover {
    background-color: #f0f0f0;
}

.faculty-title,
.career-name {
    font-family: 'Roboto', sans-serif;
    /* Usa la fuente Roboto para el texto */
}

.faculty-title {
    font-size: 24px;
    /* Tamaño de letra para la facultad */
    font-weight: bold;
}

.career-name {
    font-size: 20px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: black !important;
}

.redirect-message {
    position: absolute;
    bottom: auto !important;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 1;
    transition: opacity 2s ease;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.career-a:hover .redirect-message {
    visibility: visible;
    opacity: 1;
}

.redirect-icon {
    display: none;
}

.career-a {
    color: black !important;
    text-decoration: none;
}

.career-a:hover {
    display: inline;
    color: blue !important;
}

.compatibility-percentage {
    font-size: 16px;
    color: #0a1828;
    /* Color azul */
}

.percentage-value {
    color: #ff5722;
    /* Color naranja para resaltar */
}
.tab-selected {
    background-color: #2862a7;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}